<div class="container-fluid px-0">
    <header>
        <div class="shape"></div> <!-- Navbar -->
       <ng-container *ngIf="this.loginserv.isAuthenticate() then authenticate else notauthenticate"></ng-container>
        <ng-template #notauthenticate>
        <nav class="navbar fixed-top navbar-expand-lg navbar-transparent"> <a class="navbar-brand" href="#">Demo project
            </a> <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="#" routerLink="/home">HOME <span
                                class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="/login">Login</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="/register">Resgister</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">useradd</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">userlist</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="/contact">contact</a> </li>
                </ul>
            </div>
        </nav> 
        </ng-template>
        <ng-template #authenticate>
            <nav class="navbar fixed-top navbar-expand-lg navbar-transparent"> <a class="navbar-brand" href="#">Demo project
            </a> <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  d-flex justify-content-end">
                    
                    <li class="nav-item"> <a class="nav-link" (click)="signout()">signout</a> </li>
                </ul>
            </div>
        </nav> 
        </ng-template>
    